.gradle/
.idea/
.kotlin/
.toolchains/
.android-sdk/
/references/
**/build/
local.properties
*.iml
*.apk
*.aab
*.jks
*.keystore
*.p12
*.pem
*.aar
*.psd
captures/
externalNativeBuild/
.cxx/
projectFilesBackup/
nga_phone_base_3.0/release/
