<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.justwent.androidnga.bu.login.LoginActivity"
            android:exported="false"
            android:label="登录账号" />
        <activity
            android:name="com.justwent.androidnga.bu.login.WebLoginActivity"
            android:exported="false"
            android:label="网页登录" />
    </application>

</manifest>
